/* http://meyerweb.com/eric/tools/css/reset/ 
 * * v2.0 | 20110126
 * * License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  /* background: url(../img/promo_test.jpg) 50% 50% no-repeat;
  background-size: cover; */
  background: #0052D4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Roboto", sans-serif;
  color: #1b1a17;
}

.particles_bg {
  height: 100%;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}

.invisible {
  display: inline-block;
  width: 130px;
  height: 50px;
}

.col-12 {
  padding: 0 100px;
}

.center {
  text-align: center;
}

.header {
  padding: 20px;
  margin-bottom: 30px;
}

.nav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  background-color: #fff;
  border-radius: 20px;
  padding: 12px 20px 15px;
}

.logo img {
  display: inline-block;
  width: 150px;
  height: auto;
}

.language_switch {
  font-size: 18px;
  box-shadow: 1px 0px 15px 0px rgb(0 0 0 / 20%);
  position: relative;
}

.language_list {
  display: inline-block;
}

.language_item {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

.language_link {
  display: inline-block;
  padding: 12px 14px;
  color: #fff;
}

.language_submenu_link {
  display: block;
  color: #fff;
  padding: 10px 14px;
}

.rus_lang {
  background: url(../img/rus.svg) 14% 50% no-repeat;
  background-size: 20px;
  padding-left: 44px;
}

.kaz_lang {
  background: url(../img/kaz.svg) 14% 50% no-repeat;
  background-size: 20px;
  padding-left: 44px;
}

.language_submenu {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  border-radius: 0 0 4px 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

.language_submenu::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
}

.language_submenu_item {
  position: relative;
  border-radius: 0px 0px 4px 4px;
}

.language_link:hover+.language_submenu,
.language_submenu:hover {
  display: block;
}

.menu_flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

/* .menu_flexbox::after {
  content: "";
  flex: auto;
} */

.menu_item {
  width: 24%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 32px 120px -24px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu_item:hover .menu_title {
  transform: translateY(-100px);
  background-color: white;
}

.menu_item_link:hover .menu_title {
  color: #3A3C9E;
}

.menu_item_link img {
  display: block;
  width: 100%;
}

.menu_title {
  padding: 25px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease;
}

.government_services {
  background: #fff url(../img/government_services.png) 50% 50% no-repeat;
  background-size: cover;
}

.apartment_list {
  background: #fff url(../img/apt_list.png) 50% 50% no-repeat;
  background-size: cover;
}

.apartment_recievers {
  background: #0071BC url(../img/apt_receiver.png) 50% 50% no-repeat;
  background-size: 200px;
}

.citizen_services {
  background: #fff url(../img/citizen_services.png) 50% 100% no-repeat;
  background-size: cover;
}

.business_services {
  background: #fff url(../img/business_services.png) 50% 50% no-repeat;
  background-size: cover;
}

.city_map {
  background: #fff url(../img/city_map.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.education {
  background: #F7F9F1 url(../img/education.png) 50% -10% no-repeat;
  background-size: 150px;
}

.blog {
  background: #fff url(../img/blog.png) 50% 50% no-repeat;
  background-size: cover;
}

.route {
  background: #fff url(../img/map.png) 50% 90% no-repeat;
  background-size: cover;
}

.vacancies {
  background: #fff url(../img/vacancies.png) 50% 50% no-repeat;
  background-size: 110px;
}

.housing_programs {
  background: #F7F7F7 url(../img/housing_programs.jpeg) 50% -10% no-repeat;
  background-size: 280px;
}

.inner_title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.flex_item {
  width: 49%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 25px;
  box-shadow: 1px 0px 15px 0px rgb(0 0 0 / 20%);
  transition: all 0.3s ease;
}

.flex_item:hover {
  background-color: #1eb3ed;
  color: #fff;
}

.active_blue {
  background-color: #1eb3ed;
  color: #fff;
}

.flex_item_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.create_cv_btn {
  background-color: #1eb3ed;
}

.create_cv_btn:hover {
  background-color: #4dc3f1;
}

.create_cv_text {
  padding: 20px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.services_title_wrapper {
  padding: 20px 30px;
  background-color: #8159D0;
}

.guests {
  background-color: #F4706F;
}

.business {
  background-color: #1CD3B1;
}

.inner_service_subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: #fff;
}

.inner_service_title {
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  line-height: 38px;
}

.services_flex {
  justify-content: flex-start;
  padding: 30px 20px;
  margin-bottom: 30px;
  background-color: #fff;
}

.services_jcsb {
  justify-content: space-between;
}

.service_item {
  width: 15%;
  text-align: center;
  margin-bottom: 40px;
}

.service_item_link {
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #F7F7F7;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.service_item_link:hover {
  background-color: #eaeaea;
}

.family {
  background: #F7F7F7 url(../img/ring.png) 50% 50% no-repeat;
  background-size: 150px;
}

.social_services {
  background: #F7F7F7 url(../img/signing.png) 50% 50% no-repeat;
  background-size: 150px;
}

.health {
  background: #F7F7F7 url(../img/heart.png) 50% 50% no-repeat;
  background-size: 150px;
}

.education_service {
  background: #F7F7F7 url(../img/books.png) 50% 50% no-repeat;
  background-size: 150px;
}

.accomodation {
  background: #F7F7F7 url(../img/house.png) 50% 50% no-repeat;
  background-size: 150px;
}

.job {
  background: #F7F7F7 url(../img/manager.png) 50% 50% no-repeat;
  background-size: 150px;
}

.transport {
  background: #F7F7F7 url(../img/car.png) 50% 50% no-repeat;
  background-size: 150px;
}

.military {
  background: #F7F7F7 url(../img/military-rank.png) 50% 50% no-repeat;
  background-size: 150px;
}

.finance {
  background: #F7F7F7 url(../img/coin.png) 50% 50% no-repeat;
  background-size: 150px;
}

.other {
  background: #F7F7F7 url(../img/tap.png) 50% 50% no-repeat;
  background-size: 150px;
}

.migration {
  background: #F7F7F7 url(../img/earth-globe.png) 50% 50% no-repeat;
  background-size: 150px;
}

.customer_rights {
  background: #F7F7F7 url(../img/shopping-cart.png) 50% 50% no-repeat;
  background-size: 150px;
}

.license {
  background: #F7F7F7 url(../img/medal.png) 50% 50% no-repeat;
  background-size: 150px;
}

.taxes {
  background: #F7F7F7 url(../img/tax.png) 50% 50% no-repeat;
  background-size: 150px;
}

.startup {
  background: #F7F7F7 url(../img/stamp.png) 50% 50% no-repeat;
  background-size: 150px;
}

.services_content {
  margin-bottom: 30px;
  padding: 25px 30px;
  background-color: #fff;
}

.service_info_wrapper {
  margin-bottom: 20px;
}

.service_title {
  padding: 16px 20px;
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #CDCDD1;
  border-radius: 20px;
}

.service_info_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.service_info_item {
  flex: 0 1 32%;
  margin-bottom: 12px;
  padding: 26px 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #F3F3F3;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.service_info_item:nth-child(3n) {
  margin-right: 0;
}

.service_info_item:hover {
  background-color: #e6e6e6;
}

.service_description {
  padding: 10px 30px;
}

.description_text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}

.bold_style {
  font-weight: 700;
}

.service_action_btn {
  margin-top: 30px;
  text-align: right;
}

.print_btn {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  outline: none;
  border: none;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #FABB3C;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.3s;
}

.print_btn:hover {
  background-color: #f9aa0a;
}

.print_btn::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/printer.png) 0 0 no-repeat;
  vertical-align: middle;
  margin-right: 7px;
}

.footer {
  margin: 20px 0;
  text-align: center;
}

/* .prev_btn_wrapper {
  margin: 30px 0;
} */

.prev_btn {
  display: inline-block;
  padding: 12px 20px 12px 10px;
  color: #535263;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  background-color: #ffffffad;
  border-radius: 10px;
  vertical-align: middle;
  transition: all 0.3s;
}

.prev_btn:hover {
  background-color: #e6e6e6;
}

.prev_btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/left-arrow.png) 0 50% no-repeat;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.table_list {
  margin-bottom: 30px;
}

.vacancy_title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  font-size: 22px;
}

.vacancy_position {
  padding: 20px;
  background-color: #FABB3C;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.position_info_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 1px 0px 15px 0px rgb(0 0 0 / 20%)
}

.position_info_row td {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #cddaef;
}

.position_info_row:first-child td {
  background-color: #F3F3F3;
  border-bottom: none;
}

.position_info_row td:nth-child(3n) {
  text-align: center;
}

.position_info_row td:nth-child(4n) {
  text-align: center;
}

.position_info_row td:nth-child(5n) {
  text-align: center;
}

.table_caption {
  font-size: 14px;
  font-weight: 600;
}

.table_cell {
  font-size: 14px;
  line-height: 18px;
}

.position_info_row:last-child td {
  border-bottom: none;
}

.iframe_wrapper {
  height: 100vh;
  /* box-shadow: 1px 0px 15px 0px rgb(0 0 0 / 20%) */
}

/* -----------------------------MAP STYLE START----------------------------------------- */

.map_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.organizations_list {
  width: 24%;
}

.map_info {
  width: 75%;
  border-radius: 20px;
  overflow: hidden;
  height: 80vh;
}

.map {
  width: 100%;
  height: 100%;
}

.submenu {
  display: none;
}

.org_type_link,
.organization_link {
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.3s;
}

.org_type_link {
  text-transform: uppercase;
  background: #fff url(../img/arrow_down.png) 95% 50% no-repeat;
  padding: 20px;
  font-weight: 500;
  box-shadow: 1px 0px 15px 0px rgb(0 0 0 / 20%)
}

.org_type_link:hover {
  background-color: #4dc3f1;
  color: #fff;
}

.organization_link {
  padding: 14px;
  margin-left: 16px;
  background-color: #F3F3F3;
}

.org_address {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300;
}



/* -----------------------------MAP STYLE END----------------------------------------- */

.under_construction {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.housing_program_title,
.housing_program_subtitle {
  padding: 20px 0 10px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #1CD3B1;
  line-height: 28px;
}

.housing_program_subtitle {
  margin-bottom: 10px;
}

.housing_program_text {
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 20px;
  line-height: 26px;
}

.list_item {
  margin-bottom: 10px;
}

.housing_program_flex {
  margin-top: 50px;
  padding: 30px 20px;
  background-color: #fff;
}

.housing_program_item {
  display: inline-block;
  padding: 5px;
  width: 120px;
  height: 120px;
  transition: all 0.3s ease;
}

.ic-nurlyzher1 {
  background: url(../img/ic-nurlyzher1.png) 0% 0% no-repeat;
  background-size: 100px auto;
}

.ic-nurlyzher2 {
  background: url(../img/ic-nurlyzher2.png) 0% 0% no-repeat;
  background-size: 100px auto;
}

.ic-nurlyzher3 {
  background: url(../img/ic-nurlyzher3.png) 0% 0% no-repeat;
  background-size: 100px auto;
}

.ic-nurlyzher4 {
  background: url(../img/ic-nurlyzher4.png) 0% 0% no-repeat;
  background-size: 100px auto;
}

.ic-nurlyzher5 {
  background: url(../img/ic-nurlyzher5.png) 0% 0% no-repeat;
  background-size: 100px auto;
}

.ic-nurlyzher6 {
  background: url(../img/ic-nurlyzher6.png) 0% 0% no-repeat;
  background-size: 90px auto;
}

.green_active {
  color: #1CD3B1;
}

.red_active {
  color: #F4706F;
}

.housing_program_img_wrapper img {
  display: block;
  width: 100%;
}