/* http://meyerweb.com/eric/tools/css/reset/ 
 * * v2.0 | 20110126
 * * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background: url(../img/promo_test.jpg) 50% 50% no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: #1b1a17;
}

.particles_bg {
  height: 100%;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.header {
  padding: 20px;
  margin-bottom: 30px;
}

.nav {
  text-align: center;
  position: relative;
}

.logo img {
  display: inline-block;
  width: 150px;
  height: auto;
}

.language_switch {
  position: absolute;
  top: 20px;
  right: 0;
}

.language_list {
  display: inline-block;
}

.language_item, .language_submenu_item {
  position: relative;
  padding: 10px 14px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

.language_link, .language_submenu_link {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}
.language_link:hover + .language_submenu, .language_submenu_link:hover + .language_submenu {
  display: block;
}

.rus_lang {
  background: url(../img/rus.svg) 0 50% no-repeat;
  background-size: 20px;
  padding-left: 28px;
}

.language_submenu {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
}

.language_submenu_item {
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

.language_submenu_link:hover {
  background-color: #fff;
  color: #1b1a17;
}

.kaz_lang {
  background: url(../img/kaz.svg) 0 50% no-repeat;
  background-size: 20px;
  padding-left: 28px;
}

.menu_flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.menu_flexbox::after {
  content: "";
  flex: auto;
}

.menu_item {
  width: 24%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 32px 120px -24px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu_item:hover .menu_title {
  transform: translateY(-60px);
  background-color: white;
}

.menu_item_link:hover .menu_title {
  color: #3A3C9E;
}

.menu_title {
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease;
}

.government_services {
  background: url(../img/government_services.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.apartment_list {
  background: url(../img/apt_list.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.apartment_recievers {
  background: url(../img/apt_receiver.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.citizen_services {
  background: url(../img/citizen_services.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.business_services {
  background: url(../img/business_services.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.city_map {
  background: url(../img/city_map.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.education {
  background: url(../img/education.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.blog {
  background: url(../img/blog.jpg) 50% 50% no-repeat;
  background-size: cover;
  margin-right: 17px;
}

.route {
  background: url(../img/route.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.vacancies {
  background: url(../img/vacancies.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.inner_title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.flex_item {
  width: 49%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 25px;
  box-shadow: 0 1px 48px 0 rgba(25, 49, 80, 0.04), 0 12px 41px 0 rgba(28, 125, 248, 0.05);
  transition: all 0.3s ease;
}
.flex_item:hover {
  background-color: #1eb3ed;
  color: #fff;
}

.flex_item_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.create_cv_btn {
  background-color: #1eb3ed;
}
.create_cv_btn:hover {
  background-color: #4dc3f1;
}

.create_cv_text {
  padding: 20px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.services {
  box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.services_title_wrapper {
  padding: 20px 30px;
  background-color: #8159D0;
}

.guests {
  background-color: #F4706F;
}

.business {
  background-color: #1CD3B1;
}

.inner_service_subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: #fff;
}

.inner_service_title {
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  line-height: 38px;
}

.services_flex {
  justify-content: flex-start;
  padding: 30px 20px;
  margin-bottom: 30px;
  background-color: #fff;
}

.services_jcsb {
  justify-content: space-between;
}

.service_item {
  width: 15%;
  text-align: center;
  margin-bottom: 30px;
}

.business_service_item, .guest_service_item {
  margin-right: 20px;
}

.service_item_link {
  display: inline-block;
  width: 160px;
  height: 160px;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #F7F7F7;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.service_item_link:hover {
  background-color: #eaeaea;
}

.family {
  background: #F7F7F7 url(../img/ring.png) 50% 50% no-repeat;
  background-size: 110px;
}

.social_services {
  background: #F7F7F7 url(../img/signing.png) 50% 50% no-repeat;
  background-size: 110px;
}

.health {
  background: #F7F7F7 url(../img/heart.png) 50% 50% no-repeat;
  background-size: 110px;
}

.education_service {
  background: #F7F7F7 url(../img/books.png) 50% 50% no-repeat;
  background-size: 110px;
}

.accomodation {
  background: #F7F7F7 url(../img/house.png) 50% 50% no-repeat;
  background-size: 110px;
}

.job {
  background: #F7F7F7 url(../img/manager.png) 50% 50% no-repeat;
  background-size: 110px;
}

.transport {
  background: #F7F7F7 url(../img/car.png) 50% 50% no-repeat;
  background-size: 110px;
}

.military {
  background: #F7F7F7 url(../img/military-rank.png) 50% 50% no-repeat;
  background-size: 110px;
}

.finance {
  background: #F7F7F7 url(../img/coin.png) 50% 50% no-repeat;
  background-size: 110px;
}

.other {
  background: #F7F7F7 url(../img/tap.png) 50% 50% no-repeat;
  background-size: 110px;
}

.migration {
  background: #F7F7F7 url(../img/earth-globe.png) 50% 50% no-repeat;
  background-size: 110px;
}

.customer_rights {
  background: #F7F7F7 url(../img/shopping-cart.png) 50% 50% no-repeat;
  background-size: 110px;
}

.license {
  background: #F7F7F7 url(../img/medal.png) 50% 50% no-repeat;
  background-size: 110px;
}

.taxes {
  background: #F7F7F7 url(../img/tax.png) 50% 50% no-repeat;
  background-size: 110px;
}

.startup {
  background: #F7F7F7 url(../img/stamp.png) 50% 50% no-repeat;
  background-size: 110px;
}

.services_content {
  margin-bottom: 30px;
  padding: 25px 30px;
  background-color: #fff;
}

.service_info_wrapper {
  margin-bottom: 20px;
}

.service_title {
  padding: 16px 20px;
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #CDCDD1;
  border-radius: 20px;
}

.service_info_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.service_info_item {
  flex: 0 1 32%;
  margin-bottom: 12px;
  padding: 26px 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #F3F3F3;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.service_info_item:hover {
  background-color: #e6e6e6;
}

.service_description {
  padding: 10px 30px;
}

.description_text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}

.bold_style {
  font-weight: 700;
}

.service_action_btn {
  margin-top: 30px;
  text-align: right;
}

.print_btn {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  outline: none;
  border: none;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #FABB3C;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.3s;
}
.print_btn:hover {
  background-color: #f9aa0a;
}

.print_btn::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/printer.png) 0 0 no-repeat;
  vertical-align: middle;
  margin-right: 7px;
}

.footer {
  margin: 20px 0;
  text-align: center;
}

.prev_btn {
  display: inline-block;
  padding: 12px 20px 12px 10px;
  color: #535263;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 10px;
  vertical-align: middle;
  transition: all 0.3s;
}
.prev_btn:hover {
  background-color: #e6e6e6;
}
.prev_btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/left-arrow.png) 0 50% no-repeat;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.table_list {
  margin-bottom: 30px;
}
