/* http://meyerweb.com/eric/tools/css/reset/ 
 * * v2.0 | 20110126
 * * License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background: linear-gradient(to right, #1488cc, #2b32b2);
  font-family: "Roboto", sans-serif;
  color: #1b1a17;
}

.particles_bg {
  height: 100%;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}

.center {
  text-align: center;
}

.header {
  padding: 20px;
  margin-bottom: 30px;
}

.nav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: inline-block;
  width: 150px;
  height: auto;
}

.language_switch {
  font-size: 18px;
  box-shadow: 1px 0px 15px 0px rgb(0 0 0 / 20%);
  position: relative;
}

.language_list {
  display: inline-block;
}

.language_item {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

.language_link {
  display: inline-block;
  padding: 10px 14px;
  color: #fff;
}

.language_submenu_link {
  display: block;
  color: #fff;
  padding: 10px 14px;
}

.rus_lang {
  background: url(../img/rus.svg) 14% 50% no-repeat;
  background-size: 20px;
  padding-left: 44px;
}

.kaz_lang {
  background: url(../img/kaz.svg) 14% 50% no-repeat;
  background-size: 20px;
  padding-left: 44px;
}

.language_submenu {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  border-radius: 0 0 4px 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

.language_submenu::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
}

.language_submenu_item {
  position: relative;
  border-radius: 0px 0px 4px 4px;
}

.language_link:hover+.language_submenu,
.language_submenu:hover {
  display: block;
}

.inner_title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.table_subtitle_wrapper {
  margin-bottom: 30px;
}

.table_subtitle {
  max-width: 1000px;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: #fff;
  margin: 0 auto;
}

.form-control {
  padding: 15px 14px;
  margin-bottom: 20px;
  min-width: 500px;
  font-size: 18px;
  border: 1px solid #0052D4;
  outline: none;
}

.apartment_list_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 1px 0px 15px 0px rgb(0 0 0 / 20%);
  table-layout: fixed;
}

.apartment_list_table tr td {
  padding: 15px 20px;
  background-color: #fff;
  border-bottom: 1px solid #cddaef;
}

.apartment_list_table tr td:first-child {
  width: 70px;
  text-align: center;
}

.apartment_list_table tr td:nth-child(3n) {
  width: 700px;
  text-align: center;
}

.apartment_list_table tr:first-child td {
  background-color: #F3F3F3;
  border-bottom: none;
}

.apartment_list_table tr td:nth-child(4n) {
  text-align: center;
}

.apartment_list_table tr td:nth-child(5n) {
  text-align: center;
}

.table_caption {
  font-size: 14px;
  font-weight: 600;
}

.apartment_list_table tr td {
  font-size: 14px;
  line-height: 18px;
}

.apartment_list_table tr:last-child td {
  border-bottom: none;
}

.prev_btn_wrapper {
  margin: 30px 0;
}

.prev_btn {
  display: inline-block;
  padding: 12px 20px 12px 10px;
  color: #535263;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  background-color: #ffffffad;
  border-radius: 10px;
  vertical-align: middle;
  transition: all 0.3s;
}

.prev_btn:hover {
  background-color: #e6e6e6;
}

.prev_btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/left-arrow.png) 0 50% no-repeat;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}